<!DOCTYPE html>
<html>
<head>
    <title>Pallet Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="container">
    <h2>Pallet Forecasting</h2>

    <form action="/predict" method="post">

        <input type="number" name="customer" placeholder="Customer ID (0-9)" required>
        <input type="number" name="year" placeholder="Year (e.g. 2024)" required>
        <input type="number" name="month" placeholder="Month (1-12)" required>
        <input type="number" name="day" placeholder="Day (1-31)" required>

        <button type="submit">Predict</button>
    </form>

    <p class="result">{{ prediction_text }}</p>
</div>
</body>
</html>